/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background-color: #000000;
  }
  
  :root {
    /*color 'Principal' de los 'enlaces (a hre="")' */
    --color-enlace-original: #ffffff;
  
    /* Color del enlace en estado hover*/
    --color-hover-enlace: #5e62ff;
  
    /*Color de fondo 'Principal'  del 'button'*/
    --bg-button: #212529;
  
    /*Color de fondo al hacer 'hover' sobre el 'button' */
    --bg-button-hover: #5e62ff;
  
    /*Color del ícono del button*/
    --color-icon-button: #18b1eb;
  
    /*Color de texto del button*/
    --color-text-button: #fafafa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
  }